@import url("https://use.typekit.net/hjz8pfr.css");

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "forma-djr-micro", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #a175b0;
}

/* headers and paragraphs */

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

h1,
h2 {
    font-family: "ethnocentric", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #a175b0;
}

p {
    font-size: 1rem;
}

/* home logo */

.menu {
    position: sticky;
    top: 0;
}

#logo {
    float: left;
    font-size: 200%;
}

#menu {
    font-family: "ethnocentric", sans-serif;
    font-weight: 400;
    font-size: 110%;
    letter-spacing: 4px;
}

#menu #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: indigo;
    border-bottom: 1px solid #4c254a;
}

.active {
    border-bottom: 1px solid #4c254a;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/kate-bush-header1.jpg) no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}


/* running up that hill video */

.video {
    aspect-ratio: 16 / 9;
    width: 100%;
}

/* footer */

footer {
    width: 100%
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
    margin-bottom: 5px;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
}

/* news image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#news-image {
    height: 600px;
    width: 100%;
    background: url(../images/news-hero1.jpg) no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/* home page site introduction section */

#introduction {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.intro-outer {
    display: inline-block;
}

.intro-sect {
    vertical-align: top;
    display: inline-block;
    width: 300px;
    padding: 20px;
    text-align: left;
}

.intro-sect p {
    text-align: justify;
}

.intro-sect > img {
    width: 100%;
}

/* running up that hill site history section */

#kate-history {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.history-outer {
    display: inline-block;
}

.history-sect {
    vertical-align: top;
    display: inline-block;
    width: 300px;
    padding: 20px;
    text-align: left;
}

.history-sect p {
    text-align: justify;
}

.history-sect > img {
    width: 100%;
}

/* music section */

#kate-music {
    width: 100%;
    text-align: center;
}

.kate-song {
    height: 150px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
    padding: 20px;
}

.kate-song img {
    height: 100%;
}

.song-text {
    width: 40%;
    text-align: left;
}

.home-link {
    text-decoration: none;
    color: #4c254a;
}

.home-link:hover {
    text-decoration: underline;
    color: indigo;
}


/* stranger things section */

#strange-music {
    width: 100%;
    text-align: center;
}

.strange-song {
    height: 150px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
    padding: 20px;
}

.strange-song img {
    height: 100%;
}

.strange-text {
    width: 40%;
    text-align: left;
}

.home-link {
    text-decoration: none;
    color: #4c254a;
}

.home-link:hover {
    text-decoration: underline;
    color: indigo;
}

/* news page */

.news {
    text-align: center;
    margin-bottom: 20px;
}

.news > h2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

#news-intro {
    width: 700px;
    margin: 0 auto;
    text-align: justify;
    padding-top: 10px;
}

form {
    width: 500px;
    background-color: #4c254a;
    border:1px solid #4c254a;
    margin: 0 auto;
    padding: 20px;
    text-align: left;

}

.text-input {
    width: 100%;
    border: 1px solid #4c254a;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

textarea {
    box-sizing: border-box;
    max-width: 100%;
    border: 1px solid #4c254a;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px;
    font-family: "forma-djr-micro", sans-serif;
    color: #4c254a;
}

button {
    border: 1px solid #4c254a;
    padding: 10px 20px 10px 10px;
    border-radius: 5px;
    background-color: #a175b0;
    color: #4c254a;
    font-size: 100%;
}

button:hover {
    color: indigo;
}

/* media queries */

/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }
}